{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- ========== Start Section ========== -->

<!-- ========== puede ser el methodo POST o GET. El POST posee más seguridad mientras que el GET se visualiza en la barra de navegación.
    se le agrega "multipart/form-data" para que lea las imagenes========== -->
<form method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.as_p }}
   
</br>
<input type="submit" value="Update" class="btn btn-secondary">
</form>

{% endblock %}
