<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Web de Altec" />
        <meta name="author" content="Santiago Pasi Arias" />
        <title>Web de Altec Cerramientos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'Altec/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'Altec/css/styles.css' %}" rel="stylesheet" />
        

    </head>
    <body>
        
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'crearPresupuestos' %}">Crear Presupuesto</a>
                <a class="navbar-brand" href="{% url 'buscadorPresupuestos' %}">Buscar Presupuestos</a>
                <a class="navbar-brand" href="{% url 'contacto' %}">Contacto</a>
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      Empleados
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="{% url 'empleados' %}">
                      <li ><button class="dropdown-item" type="button" >Lista de Empleados</button></li>
                        </a>
                        <a href="{% url 'add-empleados' %}">
                      <li ><button class="dropdown-item" type="button" >Añadir Empleados</button></li>
                        </a>
                    </ul>
                  </div>
                
            </div>
        </nav>


        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            
                            <!-- Page heading-->
                            <h1 class="mb-5">Empresa de contrucción Altec - Final de Django en CoderHouse</h1>
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-indicators">
                                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="{%static 'Altec/assets/img/cerramiento.jpg'%}" class="d-block w-100" alt="..." style="height: 400px;width:400px ">
                                    <div class="carousel-caption d-none d-md-block">
                                      <h5>Cerramiento</h5>
                                      <p>Cerramiento realizado por Altec</p>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="{%static 'Altec/assets/img/pileta.jpg'%}" class="d-block w-100" alt="..." style="height: 400px;width:400px ">
                                    <div class="carousel-caption d-none d-md-block">
                                      <h5>Pileta</h5>
                                      <p>Pileta realizada por Altec</p>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="{%static 'Altec/assets/img/quincho.jpg'%}" class="d-block w-100" alt="..." style="height: 400px;width:400px ">
                                    <div class="carousel-caption d-none d-md-block">
                                      <h5>Quincho</h5>
                                      <p>Quincho realizado por Altec</p>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="{%static 'Altec/assets/img/techo.jpg'%}" class="d-block w-100" alt="..." style="height: 400px;width:400px ">
                                    <div class="carousel-caption d-none d-md-block">
                                      <h5>Techo</h5>
                                      <p>Techo realizado por Altec</p>
                                    </div></div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Siguiente</span>
                                </button>
                              </div>
                            
                            
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
        

        <!-- Esto es lo que va a cambiar-->

                    {% block content %}

                    {% endblock content %}


        
     
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            
                            <li class="list-inline-item"><a href="{%url 'contacto'%}">Contacto</a></li>
                      
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Curso de Python - CoderHouse.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Altec/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
