{% extends "base.html" %}

{% load static %}

{% block content %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <table class="table">
        
        
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Sueldo ($)</th>
                    <th>Comisión ($)</th>
                    <th>Gente a cargo</th>
                </tr>
            </thead>
            {%for i in empleados%}
            <tbody>
                <tr>
                        
                    <td>{{i.nombre}}</td>
                    <td>{{i.rol}}</td>
                    <td> {{i.sueldo}}</td>
                    <!-- ==========  no se como hacer para que se muestren decimales en la comision ========== -->
                    <td type="number" onchange="setTwoNumberDecimal" min="0" max="3" step="0.10"> {{i.comision}}</td>
                    <td> {{i.acargo}}</td>
                    <td> {{i.acargo}}</td>
                    
                    <!-- ========== no me muestra las imagenes del empleado. Las imagenes me las está guardando en el static del proyecto y no en la de la app ========== -->
                    <td> {{i.profile_pic.url}}</td>
                    <td align="right">
                        <a href="{% url 'editar-empleado' i.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'borrar-empleado' i.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                
            </tbody>
           
           {%endfor%}
        </table>



{% endblock %}