{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- ========== Start Section ========== -->

<!-- ========== puede ser el methodo POST o GET. El POST posee más seguridad mientras que el GET se visualiza en la barra de navegación.========== -->
<form action="crearPresupuesto" method="POST">
    {%csrf_token%}
    <p>
        Superficie(m2):
    </p>
    
    
    <!-- ========== se le pone nombre al input para tomarlo desde la función crearPresupuesto en views.py
        y se le pone required para que no envien campo vacio ========== -->
    <input type="number" name="superficie" required >
    <p>
        Tipo de trabajo:
    </p>
   
    
    <!-- NO SÉ POR QUÉ APARECE UN 11 EN LA LISTA! -->


    
    <label for="Tipo de trabajo">Elige el tipo de trabajo:</label>
  <input list="browsers" name="tipo_trabajo" id="browser">
  <datalist id="browsers">
    <option value="Cerramientos">
    <option value="Techos">
    <option value="piletas">
    <option value="quinchos">
    
  </datalist>

    
  
    <!-- ========== Start Section ========== -->
    
    <!-- ========== boton de tipo submit es para enviar información ========== -->
    <input type="submit" value="Enviar">

    <p>
        
        <h1>{{mensaje}}</h1>
        <h2>Deseas ver  <a href="{%url 'buscadorPresupuestos'%}">Todos los presupuestos</a> ?</h2>
    </p>
</form>

{% endblock %}
